.menu-container-option {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -424px -86px;
}

.dashboard-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -32px -1628px;
}

.cash-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -75px -1628px;
}

.deposit-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -119px -1628px;
}

.buy-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -163px -1628px;
}

.sell-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -206px -1628px;
}

.billmanage-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -251px -1628px;
}

.warehouse-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -293px -1628px;
}

.tool-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -338px -1628px;
}

.fixedassets-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -380px -1630px;
}

.tax-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -425px -1630px;
}

.price-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -469px -1628px;
}

.synthetic-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -512px -1628px;
}

.budget-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -380px -1659px;
}

.report-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -549px -1628px;
}

.finace-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -206px -1664px;
}

.rell-icon {
    cursor: pointer;
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -788px -30px;
}

.three-stripes {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -843px -30px;
}

.down-arrow-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -80px -360px;
    transform: rotate(90deg);
}

.reload-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -425px -201px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.reload-icon:hover {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -1097px -88px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.help-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -89px -144px;
    width: 24px;
    height: 24px;
}

.close-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -144px -144px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -992px -360px;
    width: 16px;
    height: 16px;
    right: 10px;
    top: 5px;
    position: absolute;
    cursor: pointer;
}

.avatar-user {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -352px -894px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.down-arrow-icon-avatar {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -1076px -33px;
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

.alert-icon {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -592px -457px;
    width: 48px;
    height: 48px;
}

.position-icon-down-black {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -552px -352px;
    width: 32px;
    height: 30px;
}

.icon-warning {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -592px -456px;
    width: 48px;
    height: 48px;
}

.icon-question {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -826px -456px;
    width: 48px;
    height: 48px;
}

.icon-danger {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -24px -954px;
    width: 48px;
    height: 48px;
}

.icon-success {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -90px -954px;
    width: 48px;
    height: 48px;
}

.icon-down-blue {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -896.5px -359px;
    width: 16px;
    height: 16px;
}

.icon-check-active {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -1224px -360px;
    width: 16px;
    height: 16px;
}

.icon-search {
    background: url('../assets/imgs/Sprites.64af8f61.svg') no-repeat -992px -360px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}