.m-input {
    height: 32px;
    width: 240px;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
    padding: 0 12px 0 10px;
    outline: none;
    font-size: 13px;
}

.m-input:focus {
    border: 1px solid #019160;
}

::placeholder {
    font-family: "GoogleSans-Italic";
    font-size: 13px;
}

.m-input-icon {
    background: url('../assets//imgs/Sprites.64af8f61.svg') no-repeat -956px -31px;
}

.input-title {
    display: flex;
}

.m-input-popup {
    height: 32px;
    border-radius: 2px;
    border: 1px solid #babec5;
    padding: 0 12px 0 10px;
    outline: none;
    font-size: 13px;
    color: inherit;
}

.m-input-popup:focus {
    border: 1px solid #019160;
}

.input-title {
    display: flex;
    align-content: center;
    height: 21px;
    font-size: 13px;
    font-weight: 700;
}

.input-box-position {
    padding-bottom: 12px;
}

.required {
    color: red;
    height: 20px;
    width: 10.55px;
}

.input-w-12 {
    width: 836px;
}

.input-w-6 {
    width: 405px;
}

.input-w-4 {
    width: 239px;
    margin-right: 6px;
}

.input-w-3 {
    width: 197px;
}

.input-w-2 {
    width: 160px;
    margin-right: 6px;
}